# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines and whitespace cleanup
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Protect whitespace in markdown files
[*.md]
trim_trailing_whitespace = false

# python
[*.py]
indent_style = space
indent_size = 4

# data files
[*.{yml,yaml,json,jsonc}]
indent_style = space
indent_size = 2
